.tree {
  display: flex;
  flex-direction: column;
}

.node {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 12px;
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
  cursor: pointer;
  user-select: none;
  
  &:hover {
    background-color: var(--mantine-color-dark-6);
  }
}

.node[data-active="true"] {
  background-color: var(--mantine-color-blue-9);
  color: var(--mantine-color-white);
}

.nodeContent {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.actions {
    opacity: 0;
    transition: opacity 0.2s;
}

.node:hover .actions {
    opacity: 1;
}
